@media (max-width: 1150px){
    .error-text p{
        font-size: 90px;
    }
}
@media (max-width: 1050px){
    .footer-social{
        width: 100%;
    }
    .error-text p{
        font-size: 85px;
    }
}
@media (max-width: 920px){
    footer ul li a{
        font-size: 15px;
    }
    .error-text p{
        font-size: 80px;
    }
}
@media (max-width: 880px){
    footer ul li a{
        font-size: 13px;
        padding: 8px 6px 0 38px;
    }
    .error-block-item{
        width: 60%;
    }
}
@media (max-width: 800px){
    .menu ul li{
        padding-right: 20px;
    }
}
@media (max-width: 767px){
    .logo-block {
        width: 140px;
        float: left;
    }
    .menu-block{
        width: 70%;
        position: relative;
        z-index: 100;
        float: left;
    }
    .menu{
        width: 100px;
        float: right;
        height: 20px;
        overflow: hidden;
        border: 1px solid #AAAAAA;
        padding: 1px 0 3px 5px;
        background-color: #fff;
    }
    .menu:hover{
        height: 100%;
    }
    .menu ul li a{
        text-transform: none;
    }
    .menu ul li a:hover{
        border: 0;
    }
    .menu ul li{
        padding-bottom: 10px;
    }
    .menu ul li a img{
        display: none;
    }
    .menu ul li.firstElement{
        width: 100%;
        padding-right: 0;
    }
    .menu ul li.firstElement a{
        background: url(../images/menu-img3.png) 80px 2px  no-repeat;
        display: block;
        padding: 0;
    }
    .menu ul li:hover > .menu-dropdown{
        display: none;
    }
    .search{
        position: absolute;
        right: 0;
        z-index: 100;
    }
    .search-button{
        background-color: #fff;
    }
    .search-button{
        width: 30px;
    }
    .search-button a,.search-button a:hover{
        background-position-x: 0;
    }
    .error-block-item{
        width: 90%;
    }
    .error-text p {
        font-size: 75px;
    }
    .footer-menu{
        width: 100%;
    }
    footer ul li a p{
        display: none;
    }
}
@media (max-width: 650px){
    .menu-block{
        width: 60%;
    }
    .error-text p {
        font-size: 70px;
    }
}
@media (max-width: 500px){
    .menu-block{
        width: 50%;
    }
    .error-text p {
        font-size: 45px;
    }
    .error-info p{
        font-size: 12px;
    }
}
@media (max-width: 450px){
    .footer-menu ul li a {
        padding: 0 5px;
        font-size: 11px;
    }
    .copyright p{
        font-size: 11px;
    }
}
@media (max-width: 400px){
    .menu-block{
        width: 40%;
    }
}
@media (max-width: 350px){
    footer ul li a {
        padding: 8px 4px 0 33px;
    }
}